<!DOCTYPE html>
<html lang="<%= I18n.locale %>" prefix="og: http://ogp.me/ns#">
    <head>
        <% if @title %>
        <title><%=@title%> - <%= site_name %></title>
        <meta property="og:title" content="<%=@title%> - <%= site_name %>" />
        <% else %>
        <title><%= site_name %> - <%= _('Make and browse Freedom of Information (FOI) requests') %></title>
        <meta property="og:title" content="<%= site_name %> - <%= _('Make and browse Freedom of Information (FOI) requests') %>" />
        <% end %>

        <meta property="og:type" content="website" />
        <meta property="og:image" content="http://www.tuderechoasaber.es/nuvasuparati-theme/images/logo_cuadrado.png" />

        <link rel="shortcut icon" href="/nuvasuparati-theme/images/favicon.ico">
        <%= stylesheet_link_tag 'main', :title => "Main", :rel => "stylesheet", :media => "all" %>
        <%= stylesheet_link_tag 'fonts', :rel => "stylesheet", :media => "all"  %>
        <%= stylesheet_link_tag 'print', :rel => "stylesheet", :media => "print"  %>
        <% if !params[:print_stylesheet].nil? %>
         <%= stylesheet_link_tag 'print', :rel => "stylesheet", :media => "all"  %>
        <% end %>
        <%= javascript_include_tag 'jquery.js', 'jquery-ui.min','jquery.cookie.js','/nuvasuparati-theme/javascripts/vendor/custom.modernizr.js' %>

        <% if @profile_photo_javascript %>
            <script type="text/javascript" src="/javascripts/jquery.Jcrop.js"></script>
            <script type="text/javascript" src="/javascripts/profile_photo.js"></script>
            <link rel="stylesheet" href="/stylesheets/jquery.Jcrop.css" type="text/css" >
        <% end %>

        <%= stylesheet_link_tag 'admin-theme/jquery-ui-1.8.15.custom.css', :rel => 'stylesheet'%>
        <!--[if LT IE 7]> 
        <style type="text/css">@import url("/stylesheets/ie6.css");</style> 
        <![endif]-->
        <!--[if LT IE 7]> 
        <style type="text/css">@import url("/stylesheets/ie6-custom.css");</style> 
        <![endif]-->
        <!--[if LT IE 8]> 
        <style type="text/css">@import url("/stylesheets/ie7.css");</style> 
        <![endif]-->
  

        <% if @feed_autodetect %>
            <% for feed in @feed_autodetect %>
                <link rel="alternate" type="application/atom+xml" title="<%=h feed[:title] %>" href="<%=h feed[:url]%>">
                <% if feed[:has_json] %>
                    <link rel="alternate" type="application/json" title="JSON version of <%=h feed[:title] %>" href="<%=h feed[:url]%>.json">
                <% end %>
            <% end %>
        <% end %>
        <% if @has_json %>
            <link rel="alternate" type="application/json" title="JSON version of this page" href="<%=h main_url(request.request_uri, '.json') %>">
        <% end %>

        <% if @no_crawl %>
            <meta name="robots" content="noindex, nofollow">
        <% end %>

        <%= render :partial => 'general/before_head_end' %>
    </head>
    <body>

        
<% # code for popup advert for a campaign etc.
=begin
    <div id="everypage" class="jshide">
    <p style="float:right"><a href="#top" onclick="$.cookie('seen_foi2', 1, { expires: 7, path: '/' }); $('#everypage').hide('slow'); return false;">Close</a></p>
    [ message goes here ]
    <p style="text-align: right"><a href="#top" onclick="$.cookie('seen_foi2', 1, { expires: 7, path: '/' }); $('#everypage').hide('slow'); return false;">Close</a></p>
    </div>
=end
%>

<div class="entirebody">
	
	<div class="row">
	    <% if not (controller.action_name == 'signin' or controller.action_name == 'signup') %>
			<% if @user %>
				<div class="large-5 large-offset-8 columns">
			        <div id="nvs_logged_in_bar">
						<%= link_to _("My requests"), show_user_requests_path(:url_name => @user.url_name) %>
						<%= link_to _("My profile"), show_user_profile_path(:url_name => @user.url_name) %>
						<%= link_to _("Sign out"), signout_url(:r => request.request_uri) %>
					</div>
				</div>
			<% else %>
				<div class="large-3 large-offset-9 columns">
			        <div id="nvs_logged_in_bar">
						<%= link_to _("Sign in or sign up"), signin_url(:r => request.request_uri) %>
					</div>
				</div>
          	<% end %>
	    <% end %>   
	</div>	
	
	<div class="row">
		<div class="large-3 columns">
	        <%= render :partial => 'general/orglink' %>
		</div>
		<div class="large-9 columns">
			<%= render :partial => 'general/topnav' %>
		</div>	
	</div>
	
	<div class="row">
		<div class="large-9 columns large-offset-3">
			<div class="row">
	            <% if flash[:notice] %>
	                <div id="notice"><%= flash[:notice] %></div>
	            <% end %>
	            <% if flash[:error] %>
	                <div id="error"><%= flash[:error] %></div>
	            <% end %>
            </div>
		</div>
	</div>
	<div class="row">
	    <div id="<%= controller.controller_name + "_" + controller.action_name %>" class="controller_<%= controller.controller_name %>">
	    	<%= yield :layout %>
	    </div>
	</div>
</div>

    <%= render :partial => 'general/footer' %>

    <%= render :partial => 'general/before_body_end' %>

    <%= javascript_include_tag '/nuvasuparati-theme/javascripts/foundation.min.js' %>

	<script>
		$(document).foundation();
	</script>
    </body>
</html>

