@font-face {
	font-family: Open Sans;
	src: url("/nuvasuparati-theme/fonts/open-sans/OpenSans-Light.ttf");
	font-weight: normal;
}

@font-face {
	font-family: Open Sans;
	src: url("/nuvasuparati-theme/fonts/open-sans/OpenSans-Bold.ttf");
	font-weight: bold;
}

.entirebody {
	background: url("/nuvasuparati-theme/images/billie_holiday.png");
}

#nvs_logged_in_bar {
	background: none repeat scroll 0% 0% rgb(48, 52, 57);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	display: inline-block;
	position: relative;
	padding: 0px;
	width: 100%;
	text-align: center;
	padding-top: 0.8125em;
	padding-bottom: 0.75em;
}

#nvs_logged_in_bar a {
	color: rgb(255, 255, 255);
}

div#nvs_logged_in_bar a {
	color: rgb(228, 228, 228) !important;
	font-size: 14px;
}

body {
	font-family: 'Open Sans';
	font-weight: normal;
}

#nvs_topnav {
	padding-right: 20px;
	margin: 20px auto;
	padding: 5px;
}

#nvs_navigation {
	font-family: 'Open Sans';
	letter-spacing: 0.05em;
}

ul#nvs_navigation {
	list-style: none outside none;
	list-style-type: none;
	border-bottom: 1px solid rgb(220, 220, 209);
	border-top: 1px solid rgb(220, 220, 209);
}

#nvs_navigation > li {
	display: inline-block;
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
}

#nvs_navigation > li > a {
	color: rgb(0, 0, 0);
	font-weight: normal;
	font-size: small;
}


#nvs_navigation > li.selected {
	border-bottom: 2px solid #A9A8AD;
	border-top: 2px solid #A9A8AD;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h4.footer_category {
	color: #e4e4e4 !important;
	text-decoration: none !important;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	margin-left: 16px;
	display: inline-block;
	margin-top: 7px;
}

#left_column_flip {
	width: auto;
	float: left;
	margin-top: 0px;
}

.request_button {
	/*width: 200px;
	height: 100%;
	min-height: 150px;
	min-width: 150px;
	vertical-align: middle;*/
	margin: 15%;
}

#left_column_flip {
    margin-top: 10px;
    padding-left: 30px;
    margin-right: 30px;
    width: 600px;
}
#left_column_flip {
    width: 620px;
    float: right;
    margin-top: 10px;
}

.controller_request h1, .controller_request h1 a {
    font-size: 28px;
    font-weight: 600;
    margin-top: 30px;
    text-decoration: none;
}

#header_right {
    width: 180px;
    float: left;
}

#left_column {
    width: 600px;
    float: right;
}

#right_column h2, #right_column h2 a {
    font-size: 18px;
    font-weight: 700;
}

.header_right, #header_right {
    width: 180px;
    float: left;
}

#header_right {
    float: right;
    width: 230px;
    padding-top: 27px;
}

.request-tracker-sidebar .counter {
    float: left;
    width: 100px;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
}

.request-tracker-frontpage .counter {
    float: left;
    width: 100px;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
}

.personaj {
	width: 480px;
}
/* status icons */
.icon_waiting_response {
    background-image: url("/nuvasuparati-theme/images/states/icon_waiting_response.gif");
    color: #009A9D;
}
.icon_waiting_clarification {
    background-image: url("/nuvasuparati-theme/images/states/icon_waiting_clarification.gif");
    color: #79BB59;
}
.icon_gone_postal {
    background-image: url("/nuvasuparati-theme/images/states/icon_gone_postal.gif");
    color: #009A9D;
}
.icon_not_held {
    background-image: url("/nuvasuparati-theme/images/states/icon_info_not_held.gif");
    color: #F19100;
}
.icon_rejected {
    background-image: url("/nuvasuparati-theme/images/states/icon_info_refused.gif");
    color: #E10613;
}
.icon_successful {
    background-image: url("/nuvasuparati-theme/images/states/icon_successful.gif");
    color: #79BB59;
}
.icon_partially_successful {
    background-image: url("/nuvasuparati-theme/images/states/icon_partially_successful.gif");
    color: #F19100;
}
.icon_internal_review {
    background-image: url("/nuvasuparati-theme/images/states/icon_review_requested.gif");
    color: #009A9D;
}
.icon_error_message {
    background-image: url("/nuvasuparati-theme/images/states/icon_error_message.gif");
    color: #858585;
}
.icon_requires_admin {
    background-image: url("/nuvasuparati-theme/images/states/icon_requires_admin.gif");
    color: #858585;
}
.icon_user_withdrawn {
    background-image: url("/nuvasuparati-theme/images/states/icon_user_withdrawn.gif");
    color: #E10613;
}
.icon_unsatisfactory_response {
    background-image: url("/nuvasuparati-theme/images/states/icon_info_refused.gif");
    color: #E10613;
}

/* override foundation's css stuff */
a {
	font-weight: bold;
	color: #A9A8AD;
}

h4 a, h2 a {
	font-weight: bold;
	color: #000000;
}

h1 {
    font-size: 2.0em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

* {
	color: #333332;
	text-align: left;
}