<a href="http://www.ezaromedia.com/" style="margin-left: 60px; float: left"><img src="/nuvasuparati-theme/images/sponsors/ezaromedia.jpg"/></a>
<a href="http://www.ideasforchange.com/" style="margin-left: 60px; float: left"><img src="/nuvasuparati-theme/images/sponsors/IdeasforChange.png"/></a>

<a class="footer-logo" href="http://www.activewatch.ro">
    <img src="/nuvasuparati-theme/images/sponsors/activewatch.png" alt="ActiveWatch">
</a>
<a class="footer-logo" href="https://ceata.org">
    <img src="/nuvasuparati-theme/images/sponsors/ceata.png" alt="Fundația Ceata">
</a>
<a class="footer-logo" href="http://apti.ro">
    <img src="/nuvasuparati-theme/images/sponsors/apti2.png" alt="Asociația pentru Tehnologie și Internet">
</a>

<a class="footer-logo" href="http://www.piatadespaga.ro/asociatia.epas">
    <img src="/nuvasuparati-theme/images/sponsors/asociatia-epas-logo.png" alt="Asociaţia EPAS">
</a>
<a class="footer-logo" href="http://dev.funkycitizens.org">
    <img src="/nuvasuparati-theme/images/sponsors/funky-citizens-logo.png" alt="Funky Citizens">
</a>
<a class="footer-logo" href="http://www.riseproject.ro/">
    <img src="/nuvasuparati-theme/images/sponsors/rise-project-logo.png" alt="Rise Project">
</a>

<div style="clear:both"></div>
