<% @title = "Basado en Alaveteli" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
	<h1>Pe baza Alaveteli</h1>
	
	<p>Acest site este construit folosind platforma de <a href="http://www.alaveteli.org/">Alaveteli</a>, <a href="http://fii-liber.ro/content/programe-libere-nu-%C3%AEnseamn%C4%83-programe-gratuite">programul liber</a> care permite trimiterea solicitărilor pentru <%= link_to 'libertatea informației', help_legea544_path %> (ceea ce este cunoscut în limba engleză ca <a href="http://en.wikipedia.org/wiki/Freedom_of_information">FOI - "Freedom of information"</a>). Programul original este în limba engleză dar poate fi ușor de tradus în orice limbă și adaptat la schimbările din legislația fiecărei țări.</p>
	<p>Alaveteli a fost inițial dezvoltat de organizația caritabilă britanică numită <a href="http://www.mysociety.org">mySociety</a>. Acesta a fost inițial dezvoltat pentru site-ul "<a href="https://www.whatdotheyknow.com">What do they know?</a>" (în limba Română s-ar traduce "Ce știu ei?"), și a fost îmbunătățită pentru ușurința utilizării pe plan internațional. <a href="http://tuderechoasaber.es">Spania</a>, <a href="http://informatazyrtare.org">Kosovo</a>, <a href="http://www.pravodaznam.ba/bs">Bosnia</a>, <a href="http://queremossaber.org.br">Brazilia</a>, <a href="http://fyi.org.nz">Noua Zeelandă</a>, <a href="http://www.quesabes.uy">Uruguay</a> și <a href="http://www.asktheeu.org">Uniunea Europeană</a> au deja propriile site-uri care folosesc acest program.</p>
	<p>Tema pe care o folosește NuVăSupărați.info se bazează pe tema site-ului din Spania numit <a href="http://tuderechoasaber.es">tuderechoasaber.es</a>.</p>
	<p>Alaveteli dezvoltare a fost sponsorizat de diferite fundații și organizații de caritate interesate de transparență. Versiune pentru România a fost dezvoltată de echipa NuVăSupărați.info. Noi suntem un grup informal de voluntari nu suntem o organizaţie, nu avem personalitate juridică. Puteți afla mai multe despre noi la secțiunea <%= link_to _("Cine suntem noi"), help_about_path(:anchor => 'cine-suntem') %>.</p>
	<p>Pentru mai multe informații, consultați site-ul <a href="http://alaveteli.org">Alaveteli</a>, trimite un e-mail la adresa <a href="mailto:nvs@nuvasuparati.info">nvs@nuvasuparati.info</a> sau completați formularul <a href="http://blog.nuvasuparati.info/contact">aceasta</a>!.</p>
</div>
